.flex-row {
  display: flex;
  width: 100%; /* Optional: Make the row take the full width */
}

.game-setting {
  flex: 1; /* Adjust this to allocate space proportionally */
  padding: 10px;
  background-color: #f0f0f0; /* Optional: Background color for visibility */
}
#app {
  flex: 3;
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #202020;
}